<!-- BEGIN HEADER -->
<!-- Fixed navbar -->
    <nav class="navbar navbar-fixed-top navigasi">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#"><%= image_tag "images/logo_itsar.png", :size =>"90x28", :id => "logo_header_itsar" %></a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Beranda","/home/" %></li>
            <% if session[:cur_tipe] == 1 %>
              <li><%= link_to "Konfigurasi Menu","/menu_cfg/" %></li>
            <% end %>
            <% define_menus.each do |row|
                  sub_stat = TSubmenu.where(:t_menu_id => row.id).count
                  if sub_stat == 0 %>
                    <li><%=link_to row.menu_name,row.url %></li>
                  <% else %>
                    <li class="dropdown">
                      <a href=<%= row.url %> class="dropdown-toggle" data-toggle="dropdown"> <%= row.menu_name %><b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <% query_sub = TSubmenu.where(:t_menu_id => row.id)
                        query_sub.each do |subs| %>
                          <li><%=link_to subs.menu_name,subs.url %></li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                <% end %>
        </ul>
          <ul class="nav navbar-nav navbar-right">

            <% if session[:login_status] == "true" %> 
                <li><a href="/sign_out/">Logout</a></li>
              <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
   <!-- END HEADER -->