<table class="table table-striped table-bordered tabelku">
	<thead>
		<tr>
			<th>No</th>
			<th>Nama Menu</th>
			<th>URL</th>
			<th>Untuk Tipe Pengguna</th>
			<th>Dibuat Oleh</th>
			<th>Waktu Dibuat</th>
			<th>Terakhir Diperbaharui</th>
			<th colspan="3" style="text-align: center">Operasi</th>			
		</tr>
	</thead>
	<tbody>
		
		<% @menu_query.each_with_index do |row, hh| %>
		  <tr>
		  	<td><%= (@hhh.to_i + hh + 1) %></td>
		    <td><%= row.menu_name %></td>
		    <td><%= row.url %></td>
		    <td><%= row.visible_to %></td>
		    <td><%= row.nme %></td>
		    <td><%= row.created_at %></td>
		    <td><%= row.updated_at %></td>
		    <td class="lable-icon" title="Modifikasi"><%= link_to "i","/" + row.id.to_s + "/edit_menu" %></td>			
			<td class="lable-icon" title="Hapus"><%= link_to "t","/" + row.id.to_s + "/delete_menu", :confirm => 'Anda yakin akan menghapus data ini? Data tidak bisa dikembalikan.' %></td>
			<td class="lable-icon" title="Sub Menu"><%= link_to "d","/" + row.id.to_s + "/add-sub-menu/" %></td>
		  </tr>
		<% end %>
	</tbody>
	</table>
	<%= will_paginate @menu_query, :id => "ajax_paginate" %>
  
