<table class="table table-striped table-bordered tabelku">
	<thead>
		<tr>
			<th>No</th>
			<th>Nama Organisasi</th>
			<th>Nama Sekolah</th>
			<th>Kode</th>
			<th>Dibuat Oleh</th>
			<th>Waktu Dibuat</th>
			<th>Terakhir Diperbaharui</th>
			<th colspan="2" style="text-align: center">Operasi</th>			
		</tr>
	</thead>
	<tbody>
		
		<% @itsar_grp.each_with_index do |itsar, hh| %>
		  <tr>
		  	<td><%= (@hhh.to_i + hh + 1) %></td>
		    <td><%= itsar.gname %></td>
		    <td><%= itsar.schname %></td>
		    <td><%= itsar.shortname %></td>
		    <td><%= itsar.t_user.nme  %></td>
		    <td><%= itsar.created_at %></td>
		    <td><%= itsar.updated_at %></td>
		    <td class="lable-icon" title="Modifikasi"><%= link_to "i","/" + itsar.id.to_s + "/edit_itsargroup" %></td>			
			<td class="lable-icon" title="Hapus"><%= link_to "t","/" + itsar.id.to_s + "/delete_itsargroup", :confirm => 'Anda yakin akan menghapus data ini? Data tidak bisa dikembalikan.' %></td>
		  </tr>
		<% end %>
	</tbody>
	</table>
	<%= will_paginate @itsar_grp, :id => "ajax_paginate" %>
  
