<nav class="navbar" role="navigation">
	<div class="navbar-header"><a class="navbar-brand" href="#">Form Isian<%= @nama_form %></a></div>
</nav>
<% if flash[:notice_success] %>
	<div class="alert alert-success"><%= flash[:notice_success] %></div>
<% end %>
<% if flash[:notice_failed] %>
	<div class="alert alert-danger"><%= flash[:notice_failed] %></div>
<% end %>
<%= form_tag({:action => @aksi_form},:class => "form-horizontal", :role => "form", :id => "form_isian") do %>
 <div class="form-group">
    <label for="organisasi" class="col-lg-2 control-label">Organisasi</label>
    <div class="col-lg-4">
      <%= (@op == "create") ? select_tag(:organisasi, options_from_collection_for_select(@get_organization, :shortname, :gname),:class => "form-control") : label_tag(:org_label, @aa) %>
    </div>
  </div>
  <div class="form-group">
    <label for="profile_input" class="col-lg-2 control-label">Profile</label>
    <div class="col-lg-4">
    	 	<%= text_area_tag(:profile_input, @bb, :size => "300x6", :class => "form-control", :id => "profile_input") %>
    </div>
    <div class="col-lg-4" id="v_profile_input"></div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10 btn-group">
      <button type="button" class="btn btn-default" id="clear_form">Bersihkan</button>
      <button type="submit" class="btn btn-default" id="submit_btn" value=<%= @nama_btn %>><%= @nama_btn %></button>
    </div>
  </div>
<% end %>
<nav class="navbar" role="navigation">
	<div class="navbar-header">
    <a class="navbar-brand" href="#">Tabel Profile Organisasi ITSAR</a>
  </div>
  
  <%= form_tag({:action => "search"},:class => "navbar-form navbar-right", :role => "search", :id => "form_pencarian") do %>
  <div class="form-group">
        <%= text_field_tag(:search_form,"",:class => "form-control", :placeholder => "Cari nama organisasi...") %>
      </div>
        <button type="submit" class="btn btn-default">Cari</button>
    <% end %>
</nav>
<%= javascript_include_tag "tinymce.min.js" %>
<%= javascript_include_tag "profile_organisasi/script.js.erb" %>
<div id="table_itsar">
	<%= render partial: 'tabel' %>
</div>
