<nav class="navbar" role="navigation">
	<div class="navbar-header"><a class="navbar-brand" href="#">Form Isian<%= @nama_form %></a></div>
</nav>
<% if flash[:notice_success] %>
	<div class="alert alert-success"><%= flash[:notice_success] %></div>
<% end %>
<% if flash[:notice_failed] %>
	<div class="alert alert-danger"><%= flash[:notice_failed] %></div>
<% end %>
<%= form_tag({:action => @aksi_form},:class => "form-horizontal", :role => "form", :id => "form_isian") do %>
  <!-- Isian -->
  <div class="form-group">
    <label for="fullname" class="col-lg-2 control-label">Nama Lengkap</label>
    <div class="col-lg-4">
    	<%= 
    	 	text_field_tag(:fullname,@aa,:class => "form-control", :placeholder => "Shakira Rahmah", :id => "fullname") 
    	%>
      <span class="help-block keterangan">Maksimal 25 karakter dan hanya menggunakan karakter huruf.</span>
    </div>
    <div class="col-lg-4" id="v_fullname"></div>
  </div>
  <!-- Isian -->
  <div class="form-group">
    <label for="name_user" class="col-lg-2 control-label">Nama Pengguna</label>
    <div class="col-lg-4">
    	<%= 
    	 	text_field_tag(:name_user,@bb,:class => "form-control", :placeholder => "shakira_r", :id => "name_user") 
    	%>
      <span class="help-block keterangan">Maksimal 25 karakter dan hanya menggunakan karakter huruf, angka, dan underscore.</span>
    </div>
    <div class="col-lg-4" id="v_name_user"></div>
  </div>
  <!-- Isian -->
  <div class="form-group">
    <label for="password_f" class="col-lg-2 control-label">Password</label>
    <div class="col-lg-4">
    	<%= 
    	 	password_field(:password_f, :passwd, :value => @gg, :class => "form-control", :id => "passwd",:placeholder => "Masukkan password..") 
    	%>
    </div>
  </div>
  <!-- Isian -->
  <div class="form-group">
    <label for="password_f" class="col-lg-2 control-label"></label>
    <div class="col-lg-4">
    	<%= 
    	 	password_field(:password_f,:passwd_confirmation, :value => @gg, :class => "form-control", :id => "passwd_confirmation",:placeholder => "Ketik ulang password..") 
    	%>
    	<span class="help-block keterangan">Maksimal 25 karakter dan hanya menggunakan karakter huruf dan angka.</span>
    </div>
    <div class="col-lg-4" id="v_password_user"></div>
  </div>
  <!-- Isian -->
  <div class="form-group">
    <label for="email_address" class="col-lg-2 control-label">Email</label>
    <div class="col-lg-4">
    	<%= 
    	 	text_field_tag(:email_address,@cc,:class => "form-control", :placeholder => "shakirar@gmail.com", :id => "email_address") 
    	%>
      <span class="help-block keterangan">Gunakan email yang aktif.</span>
    </div>
    <div class="col-lg-4" id="v_email_address"></div>
  </div>
  <!-- Isian -->
  <div class="form-group">
    <label for="gender" class="col-lg-2 control-label">Jenis Kelamin</label>
    <div class="col-lg-4">
      <label class="radio-inline">
        <% 
          if @dd == "1"
            gender_checked = "1"
        %>
            <%= radio_button_tag(:gender,'1',gender_checked) + 'Laki-laki' %>
        <% else %>
            <%= radio_button_tag(:gender,'1')+ 'Laki-laki' %>
        <% end %>
      </label>
    	<label class="radio-inline">
         <% 
          if @dd == "2"
            gender_checked = "1"
        %>
            <%= radio_button_tag(:gender,'2',gender_checked) + 'Perempuan' %>
        <% else %>
            <%= radio_button_tag(:gender,'2')+ 'Perempuan' %>
        <% end %>
      </label>
    </div>
  </div>
  <!-- Isian -->
  <div class="form-group">
    <label for="organisasi" class="col-lg-2 control-label">Organisasi</label>
    <div class="col-lg-4">
      <%= select_tag(:organisasi, options_from_collection_for_select(@records, :id, :gname,@ff),:class => "form-control") %>
    </div>
  </div>
  <!-- Isian -->
  <div class="form-group">
    <label for="role_type" class="col-lg-2 control-label">Tipe Pengguna</label>
    <div class="col-lg-4">
      <%= select_tag(:role_type, options_from_collection_for_select(@records_role, :id, :utypename,@ee),:class => "form-control") %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10 btn-group">
      <button type="button" class="btn btn-default" id="clear_form">Bersihkan</button>
      <button type="submit" class="btn btn-default" id="submit_btn" value=<%= @nama_btn %>><%= @nama_btn %></button>
    </div>
  </div>	
<% end %>
<nav class="navbar" role="navigation">
	<div class="navbar-header">
    <a class="navbar-brand" href="#">Tabel Pengguna</a>
  </div>
  
  <%= form_tag({:action => "search"},:class => "navbar-form navbar-right", :role => "search", :id => "form_pencarian") do %>
  <div class="form-group">
        <%= text_field_tag(:search_form,"",:class => "form-control", :placeholder => "Cari nama pengguna...") %>
      </div>
        <button type="submit" class="btn btn-default">Cari</button>
    <% end %>
</nav>


<div id="table_itsar">
	<%= render partial: 'tabel' %>
</div>

<%= javascript_include_tag "user/script.js.erb" %>